 
.features-section { 
    background: var(--bg-grey);
}

.features-section .features-section__grid {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.features-section .features-section__grid-item { 
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: var(--bg-color);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.features-section .features-section__grid-item img { 
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.features-section .features-section__grid-item h4 a {  
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
}