.about-section ul.about-section__service-list li.about-section__service-item {
    display: block;
    margin-bottom: 15px;
}

.about-section ul.about-section__service-list li.about-section__service-item {
    display: block;
    margin-bottom: 15px;
}

.about-section ul.about-section__service-list li.about-section__service-item a span.about-section__service-icon {
    color: var(--primary-color);
    margin-right: 5px;
    opacity: .8;
}

.about-section ul.about-section__service-list li.about-section__service-item a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative;
}
