/* css/style.css */
/* --- Variables --- */
:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --bs-body-font-family: 'Jost', sans-serif;
  --bs-body-text-align: left;
  --border-radius: 8px;
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --border-color-light: #eee;
  --layer: rgba(29, 42, 55, 0.7);
}

/* Typography */
body {
  font-family: var(--bs-body-font-family);
  text-align: var(--bs-body-text-align);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .title-big {
    font-size: 32px !important;
    line-height: 40px;
  }
}

.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
}

p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: .8;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

/* Container & Grid */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.col-4, 
.col-6,
.col-md-3, 
.col-md-6,
.col-lg-4,
.col-lg-6,
.col-md-auto{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .mt-md-3, .my-md-3 {
      margin-top: 2rem !important;
  }
}

@media (min-width: 992px) {
  .pr-lg-5, .px-lg-5 {
      padding-right: 3rem !important;
  }
}

/* Utilities */
.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.radius-image {
  border-radius: var(--border-radius);
}


/* --- Spacing Utilities --- */
.pt-lg-2,
.py-lg-2 {
  padding-top: 0.5rem !important;
}

@media (min-width: 576px) {
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important;
  }
}


/* --- Buttons --- */
.btn-style {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  --bs-btn-hover-bg: #1a7940;
  --bs-btn-hover-border-color: #1a7940;
}

/* --- owl theme ---*/
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #aaa;
  display: block;
  transition: opacity .2s ease;
  opacity: 0.9;
  border-radius: var(--border-radius);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--bg-color);
  transform: scale(1.5);
}

.owl-two.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
  opacity: 1;
}