.w3l-progress .progress-info {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.w3l-progress .info1 h6.progress-tittle {
    display: grid
;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.w3l-progress h6.progress-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 400;
}

.w3l-progress .progress {
    display: flex
;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--bg-grey);
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #00a63f;
    transition: width 0.6sease;
}

.w3l-progress .progress-bar {
    background-color: var(--primary-color);
    transition: width 0.6sease;
}

.w3l-progress .progress-bar-striped {
    background-image: none;
    background-size: cover;
}

.w3l-progress .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.w3l-progress .progress-bar.gradient-1:before, .w3l-progress .progress-bar.gradient-2:before, .w3l-progress .progress-bar.gradient-3:before, .w3l-progress .progress-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-1:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: var(--bg-color);
}

.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-1:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.w3l-progress .progress-bar.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-2:before {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.w3l-progress .progress-bar.gradient-1:before, .w3l-progress .progress-bar.gradient-2:before, .w3l-progress .progress-bar.gradient-3:before, .w3l-progress .progress-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-2:before {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: var(--bg-color);
}

.w3l-progress .progress-bar.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-3:before {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.w3l-progress .progress-bar.gradient-1:before, .w3l-progress .progress-bar.gradient-2:before, .w3l-progress .progress-bar.gradient-3:before, .w3l-progress .progress-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-3:before {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: var(--bg-color);
}

.w3l-progress .progress-bar.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.w3l-progress .progress-bar.gradient-4:after, .w3l-progress .progress-bar.gradient-4:before {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.w3l-progress .progress-bar.gradient-1:before, .w3l-progress .progress-bar.gradient-2:before, .w3l-progress .progress-bar.gradient-3:before, .w3l-progress .progress-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}
.w3l-progress .progress-bar.gradient-4:after, .w3l-progress .progress-bar.gradient-4:before {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.w3l-progress .progress-bar.gradient-1:after, .w3l-progress .progress-bar.gradient-2:after, .w3l-progress .progress-bar.gradient-3:after, .w3l-progress .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: var(--bg-color);
}