<footer class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-md-4 CorpVisionFooter">

            <div class="row footer-top-29">

                <div class="col-lg-4 col-md-6 footer-list-29 footer-1">

                    <div class="footer-logo mb-4">
                        <a class="navbar-brand" href="">
                            <span class="fa fa-align-right"></span> Corp Vision
                            <span class="logo">Vision to your Future</span>
                        </a>
                    </div>

                    <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet Semper at elit team advisors.</p>

                    <div class="main-social-footer-29 mt-md-4 mt-3">
                        <a href="" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pr-lg-5 mt-md-0 mt-5">
                    <h6 class="footer-title-29">Thông tin liên hệ </h6>

                    <p class="mb-2">
                        Địa chỉ : Corp Vision, 343 marketing, #21 cravel 1st lane street, NY - 62617. </p>

                    <p class="mb-2">Số điện thoại : <a href="tel:+1(21) 234 4567">
                        +1(21) 234 4567</a>
                    </p>

                    <p class="mb-2">Email :
                        <a href="/cdn-cgi/l/email-protection#325b5c545d72574a535f425e571c515d5f">
                            <span class="__cf_email__" data-cfemail="ddb4b3bbb29db8a5bcb0adb1b8f3beb2b0">[email protected]</span>
                        </a>
                    </p>

                    <p class="mb-2">Hỗ trợ :
                        <a href="/cdn-cgi/l/email-protection#f891969e97b88b8d8888978a8cd69b9795">
                            <span class="__cf_email__" data-cfemail="2e474048416e5d5b5e5e415c5a004d4143">[email protected]</span>
                        </a>
                    </p>

                </div>

                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-lg-0 mt-5">
                    <div id="categories-4" class="widget_categories">
                        <h6 class="footer-title-29">Danh mục</h6>
                        <ul>
                            <li class="cat-item cat-item-2"><a href="">Chiến lược Marketing</a>
                            </li>
                            <li class="cat-item cat-item-3"><a href="">Khởi nghiệp Kinh doanh</a>
                            </li>
                            <li class="cat-item cat-item-4"><a href="">Phát triển web</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-lg-0 mt-5">
                    <div id="meta-4" class="widget_meta">
                        <h6 class="footer-title-29">Meta</h6>
                        <ul>
                            <li><a href="">Đăng nhập</a>
                            </li>
                            <li><a href="">Bản tin bài viết</a>
                            </li>
                            <li><a href="">Bản tin bình luận</a>
                            </li>

                            <li><a href="">WordPress.org</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <!-- copyright -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="CopyRights copy-footer-29">© 2025 Corp Vision Bảo lưu mọi quyền | WordPress Theme by <a href="">
                        W3Layouts.        </a>
                </p>
            </div>
        </section>
        <!-- //copyright -->
    </footer>