<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>New brand - Home</title>

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png">  
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">  
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">    
<link rel="manifest" href="../../assets/favicon/site.webmanifest"> 

<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/header.css" />
<link rel="stylesheet" href="../../css/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://css.gg/css' rel='stylesheet'>
<link rel="stylesheet" href="../../css/footer.css" />  <!-- Footer CSS -->
<link rel="stylesheet" href="../../css/home-block1.css" />  <!-- About Us Section CSS -->
<link rel="stylesheet" href="../../css/features.css" />  <!-- Features Section CSS -->
<link rel="stylesheet" href="../../css/servicesblock2.css" />  <!-- Services Section CSS -->
<link rel="stylesheet" href="../../css/gallery.css" />  <!-- Gallery Section CSS -->
<link rel="stylesheet" href="../../css/progress-section.css" />  <!-- Progress Section CSS -->
<link rel="stylesheet" href="../../css/testimonials.css" />  <!-- Testimonials Section CSS -->
<link rel="stylesheet" href="../../assets/vendor/owlcarousel/css/owl.carousel.min.css">  <!-- Owl Carousel CSS -->
<link rel="stylesheet" href="../../assets/vendor/owlcarousel/css/owl.theme.default.min.css"> <!-- Owl Carousel Theme CSS -->