<!-- Header Section -->
<header id="site-header" class="fixed-top main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark stroke">
            <h1 class="logo-panel"><a class="navbar-brand" href="../home/index.html">
                    <span class="fa fa-align-right"></span>Corp Vision
                    <span class="logo">Vision to your Future</span>
                </a></h1>
            <button class="navbar-toggler collapsed">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul id="primary-menu" class="navbar-nav mx-lg-auto">
                    <li class="menu-item nav-item">
                        <a href="../../pages/home/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="menu-item nav-item">
                        <a href="../../pages/about/index.html" class="nav-link">About</a>
                    </li>
                    <li class="menu-item nav-item">
                        <a href="../../pages/services/index.html" class="nav-link">Services</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="../../pages/pages/blogposts.html">Blog Posts</a></li>
                            <li><a class="dropdown-item" href="../../pages/pages/404page.html">404 page</a></li>
                            <li><a class="dropdown-item" href="../../pages/pages/landingpage.html">Landing page</a></li>
                            <li><a class="dropdown-item" href="../../pages/pages/Elementspage.html">Elements page</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item nav-item">
                        <a href="../../pages/contact/index.html" class="nav-link">Contact</a>
                    </li>
                </ul>

                <!-- Search -->
                <div class="header-search HeaderSearch">
                    <div class='control mr-3'>
                        <div class='btn-material'>
                            <i class='fa fa-search icon-material-search'></i>
                        </div>
                    </div>
                </div>
                <!-- //Search -->

                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position text-center DarkandLight">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </div>
        </nav>
    </div>
</header>
<!-- //Header Section -->