
h2.title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}

p.inner-page-para {
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
}
.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

@media (max-width: 1080px) {
    .title-big {
        font-size: 32px !important;
        line-height: 40px;
    }
}
.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: var(--heading-color);
}
@media (min-width: 992px) {
    .ml-lg-5, .mx-lg-5 {
        margin-left: 3rem !important;
    }
}
@media (min-width: 992px) {
    .mr-lg-5, .mx-lg-5 {
        margin-right: 3rem !important;
    }
}
.title-content {
    max-width: 800px;
    margin: auto;
}
.text-center {
    text-align: center !important;
}
@media (min-width: 768px) {
    .mb-md-5, .my-md-5 {
        margin-bottom: 3rem !important;
    }
}

.service-grid-left {
    background: var(--bg-color);
    padding: 45px 50px;
    text-align: center;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

h3.title-service {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}
@media (min-width: 768px) {
    .mb-md-4, .my-md-4 {
        margin-bottom: 1.5rem !important;
    }
}

.w3l-aboutblock1 h4 a.title-head:hover {
    color: var(--primary-color);
}
.w3l-aboutblock1 h4 a.title-head {
    display: block;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 0;
    text-decoration: none;
}

@media (max-width: 1080px) {
    .w3l-aboutblock1 .area-box {
        padding: 50px 30px;
        grid-gap: 10px;
    }
}
.w3l-aboutblock1 .area-box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-color: var(--bg-lightgrey);
    box-shadow: 0 1rem 2rem var(--box-shadow-color);
    display: grid
;
    grid-auto-flow: column;
    grid-gap: 20px;
}

@media (max-width: 1080px) {
    .w3l-aboutblock1 .area-box i {
        font-size: 34px;
        width: 35px;
    }
}
.w3l-aboutblock1 .area-box i {
    font-size: 38px;
    width: 40px;
    color: var(--primary-color);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w3l-aboutblock1 h4 a.title-head {
    display: block;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 0;
}
body button, .btn, body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
body a, button, .btn {
    cursor: pointer !important;
}

.w3l-quote-6 .quote-sec-info {
    padding: 30px 0px;
    border-bottom: 1px solid #aaa;
    display: grid
;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    align-items: center;
}
.w3l-quote-6 .appyl-sub-icon-info h5 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
    color: #fff;
}
.w3l-quote-6 .appyl-sub-icon-info p {
    color: #eee;
    margin-top: 10px;
    font-size: 18px;
}
.w3l-quote-6 .appyl-sub-icon-info p a:hover {
    color: #fff;
}

.w3l-quote-6 .appyl-sub-icon-info p a {
    color: #eee;
    font-size: 18px;
    margin-top: 10px;
}
body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.w3l-quote-6 .quote-info::before {
    content: "";
    background: var(--layer);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-quote-6 .appyl-sub-icon span.fa {
    font-size: 40px;
    color: var(--primary-color);
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w3l-quote-6 .quote-form {
    background: var(--bg-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    padding: 60px;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}

h3.title-service {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.w3l-quote-6 .quote-form input, .w3l-quote-6 .quote-form textarea {
    margin-bottom: 20px;
    background: var(--bg-grey);
    text-transform: capitalize;
    height: 60px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
    color: var(--font-color);
    -webkit-appearance: none;
    padding: 12px 25px;
    box-shadow: none;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    /* padding: 3px; */
}
.form-group {
    margin-bottom: 1rem;
}
.w3l-quote-6 .quote-form textarea {
    min-height: 100px;
}

.w3l-features .box-wrap {
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: var(--bg-color);
    transition: .3sease;
    -webkit-transition: .3sease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.w3l-features .box-wrap img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}