.w3l-project {
    background-image: url(../assets/img/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.w3l-project h3.title-big {
    color: #fff;
}

.w3l-project p {
    color: #eee;
}

.w3l-footer-29-main {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.w3l-footer-29-main .navbar-brand span.fa {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
}

.w3l-footer-29-main .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    opacity: 1;
}

.w3l-footer-29-main .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}
.w3l-footer-29-main p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}


.main-social-footer-29 a {
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: .6;
}

.w3l-footer-29-main h6.footer-title-29 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.w3l-footer-29-main .footer-list-29 ul li a, .w3l-footer-29-main .footer-list-29 ul li p, .w3l-copyright .footer-list-29 ul li a, .w3l-footer-29-main a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
}

.w3l-footer-29-main .footer-list-29 ul li, .w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    list-style: none;
    margin-bottom: 10px;
}


.w3l-copyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.w3l-copyright #movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3sease-out;
}

.w3l-copyright p.copy-footer-29 {
    align-self: center;
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
    opacity: 1;
}

.w3l-copyright .copy-footer-29 a {
    color: var(--primary-color);
}