/* css/header.css */
header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.nav-fixed {
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

nav {
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
}

.navbar .navbar-brand span.fa {
  color: var(--primary-color);
  margin-right: 5px;
  vertical-align: bottom;
}

.logo-panel {
  margin-bottom: 0rem;
}

.navbar .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 991px) {
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
    padding: 0rem 0rem !important;
  }

  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }

  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: var(--heading-color);
  opacity: 0.7;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--primary-color);
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: var(--heading-color);
}

.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu li a{
  color: var(--heading-color);
  background: none;
  opacity: .8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}


.control .btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: var(--primary-color);
  transform-origin: 50%;
}

.control .icon-material-search {
  color: #FFF;
  transition: opacity 0.3s ease-in-out;
}

.theme-switch input {
  display: none;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}


.mode-container i.gg-moon {
  display: block;
}

.nav-fixed .navbar-expand-lg .mode-container i {
  color: var(--heading-color);
  opacity: 0.9;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}